

.cabezal{
  display: flex;
  align-items: center;
  justify-content: center;   /* centrado como la imagen */
  
  border: 0;
  padding: 0;
  margin: 0;
}



.logo{
  border: 0;
  padding: 0;
  margin: 0;
}